*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

x64/
util/
results/
bak

# User-dependent files
*.pdb
*.sln
*.txt
*.bin
*.00
*.60
*.out
*.m
*.h5
*.log
*.suo
*.vtk
*.user
*.db
*.opendb
*.ipch
*.AGL
*.PGL
*.inp
*.msi
*.pvsm
*.zip
.vs/config/applicationhost.config
